.aboutWrapper {
	display: flex;
	width: 85%;
	margin: 100px auto 50px;
	gap: 100px;
}

.photoContainer {
	display: flex;
	flex-direction: column;
}

.instagramTitle {
	align-self: center;
	text-transform: uppercase;
	color: var(--primary-color);
	font-weight: bold;
	font-size: 1.5rem;
}

.instagramPhotoGrid {
	display: grid;
	grid-template-columns: repeat(3, 150px);
	grid-template-rows: repeat(4, 150px);
	gap: 10px;
}

.instagramPhoto {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ddd;
}

.instagramPhoto:first-child {
	grid-column: span 2;
	grid-row: span 3;
}

.descriptionContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 40%;
  gap: 3px;
}

.description {
	font-size: 1.125rem;
}
