.contactPage {
	margin-top: 110px;
	margin-bottom: 30px;
}

.contactContainer {
	width: 92%;
	margin: 30px auto 0;
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.contactInfoContainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.contactInfoItem {
	display: flex;
	flex-direction: column;
}

.contactInfoItemTitle {
	font-weight: bold;
	font-size: 1.5rem;
}

.contactInfoItemDescription {
	display: flex;
	align-items: center;
	gap: 5px;
}

.contactInfoItemDescriptionText {
	font-size: 1.25rem;
}

.verticalDivider {
	width: 5px;
	height: 20px;
	background-color: var(--primary-color);
}

@media (min-width: 768px) {
	.contactContainer {
		margin: 50px auto 0;
	}

	.contactInfoItemTitle {
		font-size: 2rem;
	}

	.contactInfoItemDescriptionText {
		font-size: 1.75rem;
	}
}

@media (min-width: 1200px) {
	.contactContainer {
		flex-direction: row-reverse;
		justify-content: space-around;
		margin: 90px auto 0;
	}
	
	.contactInfoContainer {
		align-self: flex-end;
	}

	.contactPage {
		margin-bottom: 100px;
	}
}
