.mainSection {
	position: relative;
	height: 100vh;
	display: flex;
	padding-top: 90px;
	flex-direction: column;
}

.mainPhoto {
	height: 50vh;
	width: 300px;
	position: relative;
	z-index: -1;
}

.mainSectionContent {
	display: flex;
	flex-direction: column;
	bottom: 0;
	position: absolute;
	width: 100%;
}

.freeConsultationContainer {
	display: flex;
	font-size: 1.1rem;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto 10px;
}

.tabletFreeConsultationContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 10px 0;
	font-size: 1.175rem;
}

.tabletContactRef {
	margin-top: 10px;
	text-align: center;
}

.plansRedirectContainer {
	display: flex;
}

.plansRedirectText {
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	margin-bottom: 5px;
	gap: 200px;
}

.contactRef {
	border-bottom: 1px solid var(--font-color-light);
}

.uppercaseBoldText {
	font-weight: bold;
	color: var(--primary-color);
	text-transform: uppercase;
}

.xIconContainer {
	display: flex;
	align-items: center;
}

.iconX {
	color: var(--primary-color);
}

.checkOffer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.desktopConsultationContainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 50%;
	font-size: 2rem;
}

.desktopConsultationTextContainer {
	margin: 0 auto 0;
}

.desktopBarsImage {
	position: relative;
	display: flex;
	justify-content: flex-end;
	align-self: flex-end;
	width: 100%;
	height: 129px;
	margin-top: 80px;
	overflow-x: hidden;
	overflow-y: hidden;
}

.desktopConsultationTrenerCredentials {
	font-weight: bold;
	font-size: 3rem;
	letter-spacing: 2px;
}

@media (max-width: 320px) {
	.mainPhoto {
		height: 300px;
		width: 300px;
	}
}

@media (min-width: 768px) {
	.mainSection {
		padding-top: 0px;
		height: 90vh;
	}

	.plansRedirectText {
		font-size: 1.5rem;
	}

	.mainPhoto {
		height: 660px;
		width: 500px;
	}
}

@media (min-width: 992px) {
	.mainSection {
		padding-top: 0px;
	}

	.mainPhoto {
		height: 600px;
		width: 500px;
	}
}

@media (min-width: 1200px) {
	.mainSection {
		padding-top: 0px;
	}

	.plansRedirectText {
		width: 20%;
	}

	.mainPhoto {
		height: 550px;
		width: 500px;
	}
}

@media (min-width: 1400) {
	.mainSection {
		padding-top: 0px;
	}
}
